<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Bru</title>
</head>
<body>
    <h1>Hello Hint</h1>
</body>
</html>
